body {
  background-color: beige;
  margin: 0;
}
img {
  margin-top: 10px;
  width: 800px;
}
.contentHeader {
  background-color: #ececec;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.navBusCar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "btnBuscar btnCarrito";
  width: 80vw;
  background-color: aqua;
}
.btnBuscar {
  grid-area: btnBuscar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.btnCarrito {
  grid-area: btnCarrito;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: space-around;
}
.navPage {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
}
/*Inicio pagina*/
.content {
  min-width: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: aquamarine;
  flex-wrap: wrap;
}
.contentPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.inicioPage {
  height: 100vh;
}
/*tienda*/
.tiendaP {
  flex-wrap: wrap;
  background-color: rgba(165, 42, 42, 0.438);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.barElement {
  height: 400px;
  width: 80vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.171);
}
.detailElement {
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
}
.IconProduct {
  width: 180px;
  height: 180px;
  background-color: blue;
}
.desDetail {
  text-align: left;
}
.imgInfo {
  flex-wrap: wrap;
  background-color: rgba(240, 255, 240, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgTitle {
  flex-wrap: wrap;
  position: relative;
  background-color: rgba(240, 255, 240, 0.739);
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 200px;
}
/*cracion de card promoción*/
.cardInfo {
  width: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.cardI-header,.cardI-footer {
  width: 95%;
  position: absolute;
  margin-bottom: 5px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: transtater(-20px);
  opacity: 0;
  transition: all 0.4s;
}
.cardI-header {
  top: -30px;
  box-shadow: 0 -28px 28px rgba(0, 0, 0, 0.089),
    0 20px 20px rgba(0, 0, 0, 0.089);
    justify-content: center;
  align-items: center;
}
.cardI-header div {
  padding-left: 8px;
  justify-content: center;
  align-items: center;
}
.cardI-header div h2 {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.cardI-body {
  width: 700px;
}
.cardI-body img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
}
.cardI-footer {
  padding: 12px 0;
  justify-content: space-evenly;
  bottom: -20px;
  box-shadow: 0-28px 20px rgba(0, 0, 0, 0.889), 0 20px 20px rgba(8, 0, 0, 0.089);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s;
}
.cardInfo:hover .cardI-footer,.cardInfo:hover .cardI-header {
  transform: translateY(0px);
  opacity: 1;
}
.cardI-footer p {
  color: rgba(59, 59, 59, 0.514);
  text-shadow: inset 80 10px rgba(255, 53, 53, 0.342);
}

/*creacion de card*/
.card {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.card img {
  position: absolute;
  top: -5%;
  width: 100%;
  transition: transform 0.5s, filter 0.4s;
}
.card input[type="checkbox"] {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.119);
  backdrop-filter: blur(5px);
  color: white;
  appearance: none;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.4s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.238);
}
.card input[type="checkbox"]:checked {
  transform: translate(-450%);
}
.card input[type="checkbox"]::before {
  content: "\f129";
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1em;
}
.card input[type="checkbox"]:checked ~ img {
  transform: scale(1.2) rotate(-20deg);
  filter: blur(10px);
}
.card input[type="checkbox"]:checked::before {
  content: "\f061";
}
.side {
  position: absolute;
  width: 85%;
  height: 85%;
  background: white;
  z-index: 5;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  background: rgba(29, 29, 29, 0.989);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
  transform: translate(100%);
  transition: transform 0.4s;
}
.card input[type="checkbox"]:checked ~ .side {
  transform: translate(0%);
}
.side h3 {
  color: #ffffff;
  margin: 25px 0 10px 15px;
}
.side p {
  color: #ffffff;
  margin-left: 15px;
  font-size: 0.8em;
}
/*creacion box*/
.box {
  width: 250px;
  height: 150px;
  position: relative;
}
.box .front,
.box .back {
  position: absolute;
  width: 250px;
  height: 150px;
  background: white;
  backface-visibility: hidden;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 85px 30px rgba(163, 61, 21, 0.2),
    e-5px 38px rgba(115, 55, 212, 8.208);
  transition: transform 0.4s;
}
.box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(800px) rotateX(-180deg);
}
.box .back p {
  margin: 10px 20px;
  text-align: center;
}
.box .front {
  border-radius: 0 0 20px 20px;
}
.box .front img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
  position: absolute;
}
.box:hover .front {
  transform: perspective(800px) rotateX(180deg);
}
.box:hover .back {
  border-radius: 20px 20px 0 0;
  transform: perspective(800px) rotateX(0);
}
/*creacion pagina contacto*/
.container{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container img{
    width: 49%;
    cursor: pointer;
    opacity: 0.5;
    transition: all .4s;
}
 .container img:hover{
    transform: rotate(15deg) scale(1.1);
    border-radius: 40px;
    opacity: 1;
    z-index: 10;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.192);
 }